
body{
    background-position: center;
    background-size: cover;
}
#MyCanvas
{
	border-width:10px;
	background-color: white; 
    border-style:ridge;
    background-image: url("dreamstimeemo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#head{
    color: white;
    font-family: 'Sansita Swashed', cursive;
    font-size:40px;
}
